@font-face {
    font-family: "Redacted";
    src: url("chrome-extension://__MSG_@@extension_id__/styles/fonts/redacted-regular.woff2") format("woff2"),
         url("chrome-extension://__MSG_@@extension_id__/styles/fonts/redacted-regular.woff") format("woff");
}

@font-face {
    font-family: "Redacted Script";
    src: url("chrome-extension://__MSG_@@extension_id__/styles/fonts/redacted-script-regular.woff2") format("woff2"),
         url("chrome-extension://__MSG_@@extension_id__/styles/fonts/redacted-script-regular.woff") format("woff");
}

body, body * {
    opacity: 0 !important;
}

body.blrst_ready, body.blrst_ready * {
    opacity: unset !important;
}